* {
  overflow-x: hidden;
}

.home-nav {
  height: 70px;
  padding: 0 $wrapper-val;
  transition: .3s;
  max-width: 100%;

  .logo {
    height: 60px;
    width: auto;
    overflow-y: hidden;

    img {
      height: 100%;
      width: auto;
    }
  }

  .nav-item {
    padding: $sm $md;
    border-radius: $sm;
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.12);
    }
  }

  .menu-bar {
    display: none;
  }

  &.scrolled {
    background: $primary-color;
  }

  .close-btn {
    display: none;
  }

  @media (max-width: 768px) {
    .close-btn {
      display: none;
    }
    .menu-bar {
      display: flex;
    }
    .nav-items {
      display: none;
    }
    &.open {
      .nav-items {
        animation: fadeIn .3s ease-in;
        display: flex;
        flex-direction: column;
        position: fixed;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: $primary-color;

        .nav-item, .btn {
          font-size: 1.4rem;
          margin-bottom: 8px;
        }

        .close-btn {
          position: absolute;
          display: flex;
          top: 8px;
          right: 8px;
          z-index: 91;
        }
      }
    }
  }
}


.blogs-area {
  padding: 0 $wrapper-val;
}

.cta {
  margin: $xxl 0;
  padding: 0 $wrapper-val;

  .cta-card {
    padding: $xl $xxl;

    .text-area {
      color: white;
    }
  }

  @media (max-width: 768px) {
    .cta-card {
      display: flex;
      flex-direction: column;

      .subscribe-area {
        display: flex;
        flex-direction: column;

        .btn {
          margin-left: 0;
          margin-top: 14px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .blogs-area {
    width: 100%;

    .blog {
      width: 100%;
    }
  }
}


.footer-area {
  width: 100%;
  height: 50px;
  color: $light-color;
  background: $primary-color;
  @media (max-width: 768px) {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
  }
}


/*welcome*/
.landing-bg-el {
  height: 550px;
  width: 550px;
  position: absolute;
  background: $primary-color;
  border-radius: 300px;
  right: 120px;
  top: 100px;
  z-index: -1;
}

@keyframes slide-up {
  0% {
    transform: translateY(300px);
  }
  60% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(50px);
  }
}

@keyframes fade {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
section.landing {
  img {
    filter: saturate(1);
    position: absolute;
    object-fit: contain;
    height: 100%;
    animation: slide-up 1s;
    transform: translateY(50px);
  }

  margin-bottom: 20vh;
  min-height: 90vh;
  padding: 0 $wrapper-val;

  .text-area {
    width: 50%;

    .title {
      font-size: 5rem;
    }

    .sub-title {
      font-size: 13px;
      letter-spacing: 4px;
      animation: fade 4s ease-in-out;
    }
  }

  @media (max-width: 768px) {
    margin:20vh 0;
    min-height: auto;
    .landing-bg-el, .image-area {
      display: none
    }
    .text-area {
      width: 100%;
      .title{
        font-size: 48px;
      }
    }
  }
}

/*about me*/
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.code{
  animation: blinker 1.5s infinite;
}
section.about-me {
  padding: 0 $wrapper-val;

  img {
    filter: saturate(1);
    object-fit: contain;
    width: 70%;
    position: relative;
    bottom: 0;
  }

  .title {
    font-size: $title-size;
  }

  .description {
    font-size: $accent-size;
    display: flex;
    justify-content: center;
  }

  .skills {
    margin-top: 15vh;
  }

  @media (max-width: 768px) {
    margin-bottom: 10vh;
    .title{
      font-size: 32px;
      width: 100%;
      justify-content: flex-start;
    }
    .description{
      width: 100%;
      text-align: left;
    }
    .skills {
      img {
        display: none;
      }

      .text-area {
      .topic{
        align-items: flex-start;
      }
        .title{
          font-size: 36px;
          text-align: left;
        }
        .title, .description {
          text-align: left;
        }

        .chips-list {
          flex-flow: row wrap;
          justify-content: flex-start;

          .chip {
            margin-left: 0 !important;
            margin-right: 10px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

/*timeline*/

section.timeline {
  padding: 0 $wrapper-val;
  min-height: 150vh;
  background: url("../../assets/img/aff-bg.png");
  .text-area {
    padding-top: 36px;
  }

  .timeline-area {
    padding: 10vh 0;

    .time {
      .row {
        img.office {
          min-height: 300px;
          min-width: 300px;
          max-width: 300px;
          max-height: 300px;
          transition: 0.4s all;
          &:hover{
            transform: scale(1.05,1.05);
          }
        }
        .logo{
          img.company-logo{
         object-fit: contain;
          }
        }
        .image-area {
          flex: 1;
        }
        .space-200{
          width: 200px;
        }

        .text-area {
          flex: 1;

        }
      }
    }

    img.timeline {
      padding:10vh 0;
      height: 100%;
      position: absolute;

    }
  }

  @media (max-width: 768px) {

    .text-area {
        .title{
          font-size: 36px;
          text-align: left;
          width: 100%;
        }
      .sub-title {
        width: 100%;
        text-align: left;
      }
    }
    .timeline-area {
      img.timeline,.image-area,.space-200 {
        display: none;
      }
      .logo{
        display: flex;
        justify-content: center;
        padding: 20px 0;
      }
      .text-area{
        margin: 0;

        p{
          justify-content: center;
          text-align: center;
          padding: 10px 0;
        }
      }
    }
  }
}

/*projects*/

section.projects {
  padding: 0 $wrapper-val;
  background: #2d2d2d;
  min-height: 80vh;

  .text-area {
    width: 50%;
  }

  .projects-area {
    img {
      width: 300px;
      border-radius: 12px;
    }
  }

  @media (max-width: 768px) {
    margin-bottom: 10vh;
    flex-direction: column;
    min-height: auto;
    padding-bottom: 50px;
    padding-top: 50px;
    .text-area {
      width: 100%;
      text-align: center;
      .title{
        font-size: 36px;
        text-align: left;
      }
      .description{
        text-align: left;

      }
      .topic {
        text-align: left;
        font-size: 24px;
        .breaker {
          display: none;
        }
      }
    }
    .projects-area {
      img {
        display: none;
      }
    }
  }
}

/*words from greats*/

section.words {
  img {
    filter: saturate(1);
    object-fit: contain;
    width: 60%;
    border-radius: 12px;
  }

  padding: 0 $wrapper-val;
  margin-bottom: 20vh;
  min-height: 80vh;

  .text-area {
    width: 50%;
  }

  @media (max-width: 768px) {
    margin-bottom: 10vh;
    min-height: auto;
    .image-area {
      display: none;
    }
    .text-area {
      width: 100%;
  .topic{
    font-size: 24px;
    text-align: left;
  }
      .title{
        font-size: 36px;
        text-align: left;
      }
      .sub-title{
        text-align: left;
      }

      .controls {
        display: none;
      }
    }
  }
}


/*myblogss*/

section.my-blogs {
  padding: 0 $wrapper-val;
  margin-bottom: 10vh;
  .blogs{
    display: grid;
    column-gap: 30px;
    grid-template-columns: repeat(auto-fit,minmax(19rem,1fr));
  }

  @media (max-width: 768px) {
    margin-bottom: 10vh;
    .text-area {
      margin-bottom: 50px;
      justify-content: flex-start;
      .topic{
        flex-direction: column;
        font-size: 24px;
      }
      .title{font-size: 36px;text-align: left}
      .description {
        width: 100%;
        text-align: left
      }
    }
    div {
      flex-flow: wrap;

      .blog {
        min-width: 100%;
      }
    }
  }
}

/*aspireations*/

section.aspirations {
  padding: 0 $wrapper-val;
  margin-bottom: 10vh;
  @media (max-width: 768px) {
    margin-bottom: 0;

    .text-area {
      .topic{
        font-size: 24px;
       margin-bottom: 30px;
      }
      .title{
        font-size: 36px;
        text-align: left;
        width: 100%;
      }
      .sub-title {
        width: 100%;
        text-align: left;
      }
    }
  }
}


/*thanks*/
//.special-thanks-bg-el {
//  height: 450px;
//  width: 450px;
//  background: $primary-color;
//  border-radius: 100%;
//  z-index: -1;
//  overflow-y: hidden;
//
//}

section.special-thanks {
  margin-bottom: 0vh;
  min-height: 65vh;
  padding: 0 $wrapper-val;
  .image-area {
    flex: 1;
    img {
      object-fit: contain;
      width: 50%;
    }
  }
  .text-area {
    width: 50%;

    .title {
      font-size: 5rem;
    }

    .sub-title {
      font-size: $accent-size;
    }
  }

  @media (max-width: 768px) {
    margin: 10vh 0;
    min-height: auto;
    .image-area {
      display: none;
    }
    .text-area {
      width: 100%;
      text-align: center;
      .title{
        font-size: 36px;
        text-align: left;

      }
      .sub-title{
        text-align: left;
      }
    }
  }
}


/*newsletter*/

section.newsletter {
  padding: $xxl $wrapper-val;
  img {
    position: absolute;
    right: 80px;
    top: 6310px;
    height: 18%;
  }

  @media (max-width: 768px) {
    margin-bottom: 10vh;
    img {
      display: none;
    }
    .subscribe-area {
      justify-content: center;
      align-items: center;
      flex-flow: wrap;
    }
  }
}


/*contact*/
.contact {
  min-height: 94vh;
  padding: $xxl $wrapper-val;

  @media (max-width: 768px) {
    * {
      width: 100%;
    }
    .title{
      margin-top: 20px;
      font-size: 36px;
    }
    input[type="text"]{
      padding: 10px 15px;
      margin-bottom: 15px !important;
    }
  }
}

.contact-bg-el {
  height: 80vh;
  width: 40vw;
  position: absolute;
  background: #4A9FC3;
  border-radius: 300px;
  top: 150px;
  z-index: -1;
}


/*blog*/
@media (max-width: 768px) {
  .recents {
    display: none;
  }
  .blog-main {
    padding: 15px 25px  !important;
  }
  .content {
    min-width: 100% !important;
    .title {
      font-size: 1.2rem;
    }

    .share-action {
      padding: 15px 25px ;
    }
  }
  .comments {
    padding: 15px 25px  !important;

    .content {
      margin: 0;
    }
  }

}

.blog-area {
  padding: 0 $wrapper-val;
  padding-top: 73px;
  padding-bottom: 36px;
  @media (max-width: 768px) {
    img{
      display: none;
    }
  }
}

.blog-content {
  line-height: 1.6;
}

.content {
  flex: 4.5;
  overflow: scroll;
  height: 85vh;
}

.share-action {
  padding-top: 0;
}

.recents {
  margin-left: 16px;
  flex: 1;
  background: white;
  top: 0;
  overflow-y: hidden;
  height: 85vh;
}

.comment-breaker {
  width: 100%;
  background-color: #E9E9E9;
  height: 2px;
}

.comments {
  padding: 8px 16px;

}

.comments-section {
  padding: 8px 0;
}

.comments-section.user-picture {
  flex: 1;
}

.user-picture img {
  width: 75px;
  height: 75px;
  border-radius: 300px;
}

.comments-section.content {
  flex: 8;
}

main{
  background: #eaeaea;
}
