@import './vars.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;

}

@media(max-width: 768px) {
  .sm-column {
    flex-direction: column;
  }
}

//flex properties
%flex, .flex {
  display: flex;
}

%justify-center, .justify-center {
  justify-content: center;
}


%justify-end, .justify-end {
  justify-content: flex-end;
}

%justify-start, .justify-start {
  justify-content: flex-start;
}


%justify-between, .justify-between {
  justify-content: space-between;
}

%justify-evenly, .justify-evenly {
  justify-content: space-evenly;
}

%justify-around, .justify-around {
  justify-content: space-around;
}

%flex-centered, .flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

%align-center, .align-center {
  align-content: center;
}


%align-end, .align-end {
  align-content: flex-end;
}

%align-start, .align-start {
  align-content: flex-start;
}


%align-between, .align-between {
  align-content: space-between;
}

%align-evenly, .align-evenly {
  align-content: space-evenly;
}

%align-between, .align-between {
  align-content: space-between;
}

%items-center, .items-center {
  align-items: center;
}


%items-end, .items-end {
  align-items: flex-end;
}

%items-start, .items-start {
  align-items: flex-start;
}

%wrap, .wrap {
  flex-wrap: wrap;
}

%no-wrap, .no-wrap {
  flex-wrap: nowrap;
}

%column, .column {
  flex-direction: column;
}

%flex-row, .flex-row {
  flex-direction: row;
}

%row-reverse, .row-reverse {
  flex-direction: row-reverse;
}

%column-reverse, .column-reverse {
  flex-direction: column-reverse;
}

@for $i from 1 through 12 {
  .flex-#{$i} {
    flex: $i;
  }

  .col-#{$i} {
    width: calc(8.33333% * #{$i});
  }
}

//@for $i from 1 through 12 {
//  .col-md-#{$i} {
//    width: calc(8.33333% * #{$i});
//  }
//  .col-sm-#{$i} {
//    width: calc(8.33333% * #{$i});
//  }
//  .col-lg-#{$i} {
//    width: calc(8.33333% * #{$i});
//  }
//}


@media (max-width: 576px) {
  @for $i from 1 through 12 {
    .col-xs-#{$i} {
      width: calc(8.33333% * #{$i});
    }
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      width: calc(8.33333% * #{$i});
    }
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  @for $i from 1 through 12 {
    .col-md-#{$i} {
      width: calc(8.33333% * #{$i});
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  @for $i from 1 through 12 {
    .col-lg-#{$i} {
      width: calc(8.33333% * #{$i});
    }
  }
}

@media (min-width: 1200px) {
  @for $i from 1 through 12 {
    .col-xl-#{$i} {
      width: calc(8.33333% * #{$i});
    }
  }
}


//paddings

.pa-xs {
  padding: $xs;
}


.pa-sm {
  padding: $sm;
}


.pa-md {
  padding: $md;
}


.pa-lg {
  padding: $lg;
}


.pa-xl {
  padding: $xl;
}

.pa-none {
  padding: 0 !important;
}

//padding-top
.pt-xs {
  padding-top: $xs;
}


.pt-sm {
  padding-top: $sm;
}


.pt-md {
  padding-top: $md;
}


.pt-lg {
  padding-top: $lg;
}


.pt-xl {
  padding-top: $xl;
}

.pt-none {
  padding-top: 0 !important;
}

//padding-right
.pr-xs {
  padding-right: $xs;
}


.pr-sm {
  padding-right: $sm;
}


.pr-md {
  padding-right: $md;
}


.pr-lg {
  padding-right: $lg;
}


.pr-xl {
  padding-right: $xl;
}

.pr-none {
  padding-right: 0 !important;
}

//padding-left
.pl-xs {
  padding-left: $xs;
}


.pl-sm {
  padding-left: $sm;
}


.pl-md {
  padding-left: $md;
}


.pl-lg {
  padding-left: $lg;
}


.pl-xl {
  padding-left: $xl;
}

.pl-none {
  padding-left: 0 !important;
}

//padding-bottom
.pb-xs {
  padding-bottom: $xs;
}


.pb-sm {
  padding-bottom: $sm;
}


.pb-md {
  padding-bottom: $md;
}


.pb-lg {
  padding-bottom: $lg;
}


.pb-xl {
  padding-bottom: $xl;
}

.pb-none {
  padding-bottom: 0 !important;
}

//padding-x
.px-xs {
  padding-right: $xs;
  padding-left: $xs;
}


.px-sm {
  padding-right: $sm;
  padding-left: $sm;
}


.px-md {
  padding-right: $md;
  padding-left: $md;
}


.px-lg {
  padding-right: $lg;
  padding-left: $lg;
}


.px-xl {
  padding-right: $xl;
  padding-left: $xl;
}

.px-none {
  padding-right: 0!important;
  padding-left: 0!important;
}

  //padding-y
.py-xs {
  padding-top: $xs;
  padding-bottom: $xs;
}


.py-sm {
  padding-top: $sm;
  padding-bottom: $sm;
}


.py-md {
  padding-top: $md;
  padding-bottom: $md;
}


.py-lg {
  padding-top: $lg;
  padding-bottom: $lg;
}


.py-xl {
  padding-top: $xl;
  padding-bottom: $xl;
}

.py-none {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

//margin


.ma-xs {
  margin: $xs;
}


.ma-sm {
  margin: $sm;
}


.ma-md {
  margin: $md;
}


.ma-lg {
  margin: $lg;
}


.ma-xl {
  margin: $xl;
}

.ma-none {
  margin: 0 !important;
}

//padding-top

.ma-none {
  margin: 0 !important;
}

.my-none {
  margin-top: 0;
  margin-bottom: 0;
}

.mt-xs {
  margin-top: $xs;
}


.mt-sm {
  margin-top: $sm;
}


.mt-md {
  margin-top: $md;
}


.mt-lg {
  margin-top: $lg;
}


.mt-xl {
  margin-top: $xl;
}

.mt-none {
  margin-top: 0 !important;
}

//padding-right
.mr-xs {
  margin-right: $xs;
}


.mr-sm {
  margin-right: $sm;
}


.mr-md {
  margin-right: $md;
}


.mr-lg {
  margin-right: $lg;
}


.mr-xl {
  margin-right: $xl;
}

.mr-none {
  margin-right: 0 !important;
}

//padding-left
.ml-xs {
  margin-left: $xs;
}


.ml-sm {
  margin-left: $sm;
}


.ml-md {
  margin-left: $md;
}


.ml-lg {
  margin-left: $lg;
}


.ml-xl {
  margin-left: $xl;
}

.ml-none {
  margin-left: 0 !important;
}

//padding-bottom
.mb-xs {
  margin-bottom: $xs;
}


.mb-sm {
  margin-bottom: $sm;
}


.mb-md {
  margin-bottom: $md;
}


.mb-lg {
  margin-bottom: $lg;
}


.mb-xl {
  margin-bottom: $xl;
}

.mb-none {
  margin-bottom: 0 !important;
}


//padding-x
.mx-xs {
  margin-right: $xs;
  margin-left: $xs;
}


.mx-sm {
  margin-right: $sm;
  margin-left: $sm;
}


.mx-md {
  margin-right: $md;
  margin-left: $md;
}


.mx-lg {
  margin-right: $lg;
  margin-left: $lg;
}


.mx-xl {
  margin-right: $xl;
  margin-left: $xl;
}
.mx-none {
  margin-right: 0!important;
  margin-left: 0!important;
}

  //padding-y
.my-xs {
  margin-top: $xs;
  margin-bottom: $xs;
}


.my-sm {
  margin-top: $sm;
  margin-bottom: $sm;
}


.my-md {
  margin-top: $md;
  margin-bottom: $md;
}


.my-lg {
  margin-top: $lg;
  margin-bottom: $lg;
}


.my-xl {
  margin-top: $xl;
  margin-bottom: $xl;
}

.my-none {
  margin-top: 0!important;
  margin-bottom: 0!important;
}

  //rows and columns
.row {
  display: flex;
  flex-wrap: wrap;
}

.full-width {
  width: 100%;
}


.full-height {
  height: 100%;
}

.full-vh {
  height: 100vh;
}
.half-width{
  width: 60%;
}

//overflow
.auto-scroll {
  overflow: auto;
}

.x-auto-scroll {
  overflow-x: auto;
}

.y-auto-scroll {
  overflow-y: auto;
}

  @for $i from 1 through 12 {
    .z#{$i} {
      z-index: $i;
    }
  }

//positions
.sticky-top {
  position: sticky;
  top: 0;
}

.fixed-top {
  position: fixed;
  top: 0;
}

.top-most {
  top: 0;
}

.left-most {
  left: 0;
}

.right-most {
  right: 0;
}

.relative {
  position: relative;
}


.absolute {
  position: absolute;
}

//wrapper
.wrapper {
  padding: 5vh $wrapper-val;
}

.wrapper-y {
  padding: 5vh 0;
}

.wrapper-x {
  padding: 0 $wrapper-val;
}


//overflow
.overflow-hidden {
  overflow: hidden;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-y-hidden {
  overflow-y: hidden;
}
@media (max-width: 768px){
  .blogs-area{
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin: $xs;
  }
  .blog{
    margin:30px 0;
    width:100%;
  }

  .cta-card{
    height: unset;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .subscribe-area{
    display: flex;
    flex-direction: column;
  }

}

.overflow-auto {
  overflow: auto;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}


.overflow-scroll {
  overflow: scroll;
}

.overflow-x-scroll {
  overflow-x: scroll;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

//images

.cover-center {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.contain-center {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}


footer {
  .subs-area {
    .input-area {
      input {
        border: none;
        background: white;
        padding: 9px $md;
        width: 210px;
        border-radius: $sm;
      }
    }
  }

  .footer-content {
    .flex-1 {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        height: 100px;
        width: 100px;
        object-fit: contain;
        object-position: center;
      }

      div {
        &.bold {
          margin-top: $md;
        }

        text-align: center;
        margin-bottom: $sm;
      }
    }
  }
}

//space

.space-left{
  margin-left: 14px;
}
.space-right{
  margin-right: 14px;
}
.space-top{
  margin-top: 14px;
}
.space-bottom{
  margin-bottom: 14px;
}

//font

.large-font{
  font-size: 3rem;
}
.primary-color{
  color: $primary-color;
}
