@import "./layout.scss";
@import "./landing.scss";

body {
  font-family: $title-font;
  color: $text-color;
  font-size: $body-size;
  background-size: 6%;

  &::before {
    //content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 6%;
    filter: brightness(0.6);
  }
}

.logo {
  font-size: 2.4rem;
  font-weight: bolder;
}

.logo-mini {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, .3);
  color: white;
  font-size: 1.6rem;
}

.btn {
  cursor: pointer;
  padding: $sm $md;
  border-radius: $xs;
  border: none;
  box-sizing: border-box;
  color: $text-color;
  font-family: $title-font;
  //box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);

  &:active, &:focus {
    outline: none;
  }

  &.dark {
    background: $text-color;
    color: $light-color;
  }

  &.primary {
    background: $primary-color;
    color: $light-color;
    transition: 0.2s all;

    &:disabled {
      background: rgb(40, 40, 40);
      border: 1px solid $primary-color;
    }

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0px 6px 24px #dadada;
    }

    &:active {
      transform: translateY(0px);
      box-shadow: none;
    }
  }

  &.secondary {
    background: $secondary-color;
    color: $light-color;
  }

  &.light {
    background: $light-color;
    color: $primary-color;
  }

  &.success {
    background: $success-color;
    color: $light-color;
  }

  &.danger {
    background: $danger-color;
    color: $light-color;
  }

  &.info {
    background: $info-color;
    color: $light-color;
  }

  &.warning {
    background: $warning-color;
    color: $light-color;
  }

  &.outlined.primary {
    border: 1px solid $primary-color;
    background: transparent;
    color: $primary-color;
    transition: 0.2s all;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0px 6px 24px #dadada;
    }

    &:active {
      transform: translateY(0px);
      box-shadow: none;
    }
  }

  &.outlined.secondary {
    border: 1px solid $secondary-color;
    background: transparent;
    color: $secondary-color;

    &:hover {
      background: $secondary-color;
      color: $light-color;
    }
  }

  &.outlined.light {
    border: 1px solid $light-color;
    background: transparent;
    color: $light-color;

    &:hover {
      background: white;
      color: $primary-color;
    }
  }

  &.outlined.success {
    border: 1px solid $success-color;
    background: transparent;
    color: $success-color;

    &:hover {
      background: $success-color;
      color: $light-color;
    }
  }

  &.outlined.danger {
    border: 1px solid $danger-color;
    background: transparent;
    color: $danger-color;

    &:hover {
      background: $danger-color;
      color: $light-color;
    }
  }

  &.outlined.info {
    border: 1px solid $info-color;
    background: transparent;
    color: $info-color;

    &:hover {
      background: $info-color;
      color: $light-color;
    }
  }

  &.outlined.warning {
    border: 1px solid $warning-color;
    background: transparent;
    color: $warning-color;

    &:hover {
      background: $warning-color;
      color: $light-color;
    }
  }
}


.chip {
  padding: 2px $sm;
  border-radius: 300px;
  background: rgba(0, 0, 0, 0.12);
  border: none;
  color: $text-color;
  font-family: $title-font;
  font-size: .9rem;
  text-align: center;

  &:active {
    transform: translateY(1px);
  }

  &.dark {
    background: $text-color;
    color: $light-color;
  }

  &:active, &:focus {
    outline: none;
  }

  &:hover {
    filter: brightness(0.8);
  }

  &.primary {
    background: $primary-color;
    color: $light-color;
  }

  &.secondary {
    background: $secondary-color;
    color: $light-color;
  }

  &.light {
    background: $light-color;
    color: $primary-color;
  }


  &.success {
    background: $success-color;
    color: $light-color;
  }

  &.danger {
    background: $danger-color;
    color: $light-color;
  }

  &.info {
    background: $info-color;
    color: $light-color;
  }

  &.warning {
    background: $warning-color;
    color: $light-color;
  }

  &.outlined.primary {
    border: 1px solid $primary-color;
    background: transparent;
    color: $primary-color;

    &:hover {
      background: $dark-primary;
      color: $light-color;
    }
  }

  &.outlined.secondary {
    border: 1px solid $secondary-color;
    background: transparent;
    color: $secondary-color;

    &:hover {
      background: $secondary-color;
      color: $light-color;
    }
  }

  &.outlined.light {
    border: 1px solid $light-color;
    background: transparent;
    color: $light-color;

    &:hover {
      background: $light-color;
      color: $light-color;
    }
  }

  &.outlined.success {
    border: 1px solid $success-color;
    background: transparent;
    color: $success-color;

    &:hover {
      background: $success-color;
      color: $light-color;
    }
  }

  &.outlined.danger {
    border: 1px solid $danger-color;
    background: transparent;
    color: $danger-color;

    &:hover {
      background: $danger-color;
      color: $light-color;
    }
  }

  &.outlined.info {
    border: 1px solid $info-color;
    background: transparent;
    color: $info-color;

    &:hover {
      background: $info-color;
      color: $light-color;
    }
  }

  &.outlined.warning {
    border: 1px solid $warning-color;
    background: transparent;
    color: $warning-color;

    &:hover {
      background: $warning-color;
      color: $light-color;
    }
  }
}

//input styling

.form-group {
  margin-bottom: $md;
  display: flex;
  flex-direction: column;
  border: 1px solid $light-color;
  padding: $sm;
  border-radius: $xs;

  label {
    font-size: .8rem;
  }

  textarea {
    border-radius: 4px;
    font-size: 14px;
    padding: 10px 16px;
    width: 100%;
    border: 1px solid #ccc;
    background: #efefef;
    font-family: Poppins;
    resize: none;

    &:focus {
      outline: none;
    }
  }
  input {
    padding: 10px 16px;
    background: #efefef;
    flex: 1;

    &:focus {
      outline: none;
    }

    &.rounded {
      border-radius: 30px;
      padding: 0 $xs;
    }

    &::placeholder {
      font-family: $title-font;
    }
  }

  .input-area {
    display: flex;
    align-items: center;

    input {
      flex: 1;
    }
  }


  .error-text {
    text-align: right;
    color: $danger-color;
  }

}

//backgrounds
.bg-primary {
  background-color: $primary-color;
}

.bg-secondary {
  background-color: $secondary-color;
}

.bg-gradient {
  background: $bg-gradient;
}

.bg-light {
  background-color: $light-color;
}

.bg-success {
  background-color: $success-color;
}

.bg-danger {
  background-color: $danger-color;
}

.bg-info {
  background-color: $info-color;
}

.bg-warning {
  background-color: $warning-color;
}

//texts
.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.text-light {
  color: $light-color !important;
}

.text-success {
  color: $success-color;
}

.text-danger {
  color: $danger-color;
}

.text-info {
  color: $info-color;
}

.text-warning {
  color: $warning-color;
}

.title {
  font-size: $title-size;
  font-weight: 500;
}

.title-xs {
  font-size: 1.2rem;
}

.title-sm {
  font-size: 1.6rem;
}

.title-md {
  font-weight: bold;
  font-size: 2.4rem;
}

.title-lg {
  font-weight: bold;
  font-size: 3.6rem;
}

.title-xl {
  font-weight: bold;
  font-size: 4.8rem;
}

.title-xxl {
  font-weight: bold;
  font-size: 5.4rem;
}

@media (max-width: 768px) {
  .title-sm {
    font-size: 1rem;
  }
  .title-md {
    font-size: 1.8rem;
  }
  .title-xxl {
    font-size: 3.2rem;
  }
}

.sub-title {
  font-size: $accent-size;
}

.text-center {
  text-align: center;
}


.text-right {
  text-align: right;
}


.text-left {
  text-align: left;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.bolder {
  font-weight: bolder;
}

.normal {
  font-weight: unset;
}

.uppercase {
  text-transform: uppercase;
}

.titlecase {
  text-transform: capitalize;
}

//cards

.card, %card {
  border-radius: $sm;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12);
}

//
.elevated {
  box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.12);
}

//cursor

.pointer {
  cursor: pointer;
}

//scrollbar

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


//chips
.chips-list {
  .chip {
    padding: $sm $lg;

    &:nth-child(2n) {
      background: $primary-color;
      color: $light-color;
    }

    &:nth-child(3n) {
      background: $dark-primary;
      color: $light-color;
    }

  }

  @media (max-width: 768px) {
    width: 100%;
    .chip {
      font-size: .8rem;
      padding: $sm;
    }

  }
}

pre {
  background: #242424;
  color: white;
  padding: $md;
  border-radius: $sm;
}

//animations
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//icons
i:hover {
  cursor: pointer;
}

//links
a {
  text-decoration: none;
  color: inherit;
}

//font
.oswald {
  font-family: Oswald;
  color: $primary-color;
}

//large icon
.large-icon {
  font-size: 4rem;
  font-weight: lighter;
  color: #777;
  margin-top: 60px;
}

//textbox
input[type="text"], input[type="password"] {
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 4px 8px;
  font-family: Poppins;
}

//topics
.topic {
  font-size: 1.8rem;
  font-weight: bolder;
}

.breaker {
  width: 100px;
  height: 6px;
  background: $primary-color;
  border-radius: 100px;
  margin-top: 4px;
}

//colors
.white-color {
  background: #fff !important;
}

p {
  margin: 0;
}
*{
  scroll-behavior: smooth;
  will-change: scroll-position;
}
