
//colors
$primary-color: #F4694A;
$secondary-color: #cb5138;
$dark-primary: #cb5138;
$light-color: #ffffff;
//$bg-gradient: linear-gradient(105.48deg, #4caf50 0%, #8bc34a 51.72%, #3949ab 101.33%);
$bg-gradient: #4A9FC3;
$success-color: #4caf50;
$danger-color: #f44336;
$info-color: #2196f3;
$warning-color: #ff9800;

$text-color: #2e2e2e;
//font-sizes
$title-size: 48px;
$accent-size: 18px;
$body-size: .9rem;


//font-family
$title-font: 'Poppins','sans-serif';
$accent-font: 'Poppins','sans-serif';

//sizes
$xs: 4px;
$sm: 8px;
$md: 16px;
$lg: 24px;
$xl: 32px;
$xxl: 48px;

//layouting
$wrapper-val:7.5vw;
