<template>
  <div class="blog card">
    <img src="../../assets/img/blog-img.png" alt="Avatar" style="width:100%;">
    <div class="container">
      <div class="blog-category">{{ this.blog.category }}</div>
      <div class="blog-title">{{ this.blog.title }}</div>
      <div class="date">{{ this.blog.date }}</div>
      <div class="desc">{{ this.blog.content }}
      </div>
      <NuxtLink v-bind:to="'/blog/'+this.blog.id">
        <div class="btn primary text-center space-top">Read More</div>
      </NuxtLink>
    </div>
  </div>
</template>
<script>
export default {
  name: 'BlogCard',
  props: {
    blog: {
      type: Object
    }
  },
}

</script>
<style lang="scss">
.blog {
  padding: 24px;
  box-sizing: border-box;
  background: #fff;
  margin: 24px 0;
  z-index: 2;
}

.blog img {
  border-radius: 4px;
}

.content {
  background: white;
  max-width: 80%;
}

.blog-main {
  padding: 16px 48px;
}

.blog-content {
  line-height: 1.6;
}

.blog-title {
  font-weight: bold;
}

.blog-category {
  color: #c34a4a;
}

.desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  -webkit-box-orient: vertical;
}
</style>
