<template>
  <div class="pattern">
  <section class="blog-area flex">
    <div class="content card flex-column">
      <div class="blog-main pa-md">
        <div class="title">{{ this.blogs.title }}</div>
        <div class="blog-image">
          <img src="../../assets/img/blog-post.png" alt="" style="width: 100%">
        </div>
        <div class="read-time flex items-center py-md">
          <i class="material-icons space-right">access_time</i>10 Minutes
        </div>
        <div class="blog-content light-font">
          {{ this.blogs.content }}
        </div>
      </div>

      <div class="comments">
        <div class="comments-section">

          <div class="fb-comments"
               v-bind:data-href="'https://sumedhbajracharya.gitlab.io/portfolio-blog'+$route.path"
               data-numposts="5"
               data-width=""></div>
        </div>
      </div>
    </div>
    <div class="recents card pa-md">
      <div><b>Related Blogs</b></div>
      <div v-for="(blog, blogid, index) in blog" v-if="index<3" :key="blog.id" class="pointer space-bottom"
           @click="$router.push('/blog/'+blogid)">
        <img src="../../assets/img/blog-img.png" alt="Avatar" style="width:100%;">
        <p>{{ blog.title }}</p>
      </div>
      <div class="social flex justify-center items-center">
        <i class="material-icons large-font primary-color flex justify-center">facebook</i>
        <i class="material-icons large-font primary-color flex justify-center">facebook</i>
        <i class="material-icons large-font primary-color flex justify-center">facebook</i>

      </div>
      <!--      <p><a-->
      <!--        target="_blank"-->
      <!--        class="d-flex text-decoration-none"-->
      <!--        :href="-->
      <!--`https://mail.google.com/mail/?view=cm&fs=1&to=sumedhbajracharya07@gmail.com&su=testinghello&body=I am Interested in buying your product2ndtesthello%0A Please do contact me`-->
      <!--"-->
      <!--      >Send me an email!</a></p>-->
    </div>
  </section>
  </div>
</template>
<script>
import firebase from '../../plugins/firebase'

export default {
  name: 'Blog',
  props: {
    blog: {
      type: Array
    }
  },
  async mounted() {
    let blogId = this.$route.params.id
    const blogs = firebase?.database().ref('/blogs/' + blogId)
    blogs.on('value', (snap) => {
      const blogs = (snap.val()) || 'Anonymous'
      this.blogs = blogs
    })

    let recaptchaScript = document.createElement('script')
    recaptchaScript.setAttribute('src', 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0')
    document.head.appendChild(recaptchaScript)
    FB.XFBML.parse()


    const blog = firebase.database().ref('/blogs')
    blog.on('value', (snap) => {
      const blog = (snap.val()) || 'Anonymous'
      this.blog = blog
    })

  },
  methods: {},
  data() {
    return {
      blog: [],
      blogs: []
    }
  }
}
</script>
<style lang="scss">
.pattern {
  background: url('../../assets/img/bg-pattern.svg');
  animation: 290s scroll infinite linear;
  background-size: contain;
  filter: blur(0px);
}
textarea {
  resize: none;
  border: 1px solid #ddd;
  padding: 10px 20px;
  height: 100%;
  font-family: Poppins;

  &:focus {
    outline: none;
  }
}

.blog-content {
  font-size: 16px;
  text-align: justify;
}

.social {
  height: 100px;
}
</style>
