<template>
  <footer>
    <div class="footer-area flex justify-center items-center">
      Copyright 2020, Abiral Sangroula. All Rights Reserved.
    </div>
  </footer>
</template>
<script>
export default {
  name: 'Footer'
};
</script>
