<template>
  <div class="logo">
    <img v-if="!scrolled" src="../../assets/img/logo.svg" alt="">
    <img v-if="scrolled" src="../../assets/img/logo_white.svg" alt="">
  </div>
</template>
<script>
export default {
  name: 'Logo',
  props: {
    scrolled: {
      type: Boolean,
      default: false
    }
  }
};
</script>
