<template>
  <nav
    :class=" `home-nav
       z12
       full-width
       fixed-top
       flex
       items-center
       justify-between
       ${ routerVar ==='category-blogId'?'bg-gradient':'' }
       ${isOpen?'open':''}
       ${scrollValue>50?'scrolled':''}`"
  >
    <Logo :scrolled="scrollValue>50" />
    <div :class="`nav-items flex items-center ${scrollValue>50?'text-light':''}`">
      <nuxt-link to="/">
      <div class="ml-md nav-item">
        Home
      </div>
      </nuxt-link>
      <nuxt-link to="/blog-list">
      <div class="ml-md nav-item">
        Blogs
      </div>
      </nuxt-link>
      <nuxt-link to="/contact-me">
      <div class="ml-md nav-item">
        Contact
      </div>
      </nuxt-link>

      <i class="material-icons close-btn" @click="isOpen=false">close</i>
    </div>
    <div class="menu-bar title-md" @click="isOpen=true">
      <i class="material-icons">menu</i>
    </div>
  </nav>
</template>
<script>
import Logo from '~/components/Common/Logo';

export default {
  name: 'Nav',
  components: { Logo },
  data () {
    return {
      scrollValue: null,
      isOpen: false,
      routerVar: ''
    };
  },
  mounted () {
    this.routerVar = this.$route.name;
    window.addEventListener('scroll', this.changeBackground);
  },
  methods: {
    changeBackground () {
      this.scrollValue = window.scrollY;
    }
  }
};
</script>
