<template>
  <div>
    <img class="bg" src="../../assets/img/Search.png" alt="">
    <section class="flex search justify-end">
      <div class="text-area flex column">
        <div class="title oswald primary-color text-right">Pick a topic!</div>
        <div class="sub-title text-right">Search through my library of thoughts.</div>
        <div class="search-box flex items-center">
          <div class="category px-md flex items-center">Category
          </div>
          <div class="search full-width flex items-center">
            <input type="text" placeholder="Search..." v-model="searchKey"/>
            <i @click="searchBlogs" class="material-icons">search</i>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  name: 'SearchBlog',
  data() {
    return {
      searchKey: ''
    }
  },
  methods: {
    searchBlogs() {
        alert('Searching '+this.searchKey)
    }
  }
}
</script>
<style lang="scss">
img.bg {
  position: absolute;
  z-index: 0;
  height: 90%;
  left: 0;
  top: -30px;
  @media (max-width: 768px) {
    display: none;
  }
}

section.search {
  padding: 0 7.5vw;
  position: relative;
  font-size: 16px;

  .text-area {
    margin-top: 100px;
    margin-bottom: 30px;
  }
}

.search-box {
  border: 1px solid #D3D3D3;
  padding: 8px;
  border-radius: 4px;
  background: #fff;
  width: 600px;
  margin-top: 20px;

  input {
    border: none;
    width: 100%;
  }
}

input:focus {
  outline: none;
}
</style>
