<template>
  <main>
    <Nuxt/>
  </main>
</template>
<script>
import Nav from '../components/Common/Nav'
import Footer from '../components/Common/Footer'

export default {
  components: { Footer, Nav }
}
</script>
<style>
</style>
