<template>
  <main>
    <SearchBlog/>
    <BlogsArea/>
<!--    <Newsletter />-->
    <Footer/>
  </main>
</template>
<script>
// import Vue from 'vue';
import Newsletter from '~/components/Landing/Newsletter'
import BlogsArea from '~/components/Landing/BlogsArea'
import SearchBlog from '~/components/Common/SearchBlog'
import Footer from '@/components/Common/Footer'

export default{
  components: { Footer, SearchBlog, BlogsArea, Newsletter },
};
</script>

