<template>
  <div>
    <Nav/>
  <div class="form-group flex-centered">
    <h2>Login</h2>
    <form @submit.prevent="pressed">
      <div class="login">
        <input type="text" placeholder="Email" v-model="email" />
      </div>
      <div class="password space-top">
        <input type="password" placeholder="password" v-model="password" />
      </div>
      <button class="btn primary full-width space-top">Login</button>
    </form>
    <div class="error" v-if="error">
      {{ error.message }}
    </div>
  </div>
  <Footer/>
  </div>
</template>

<script>
import firebase from 'firebase/app'
import 'firebase/auth'
import Footer from '@/components/Common/Footer'

export default {
  components: { Footer },
  data() {
    return {
      email: '',
      password: '',
      error: ''
    }
  },
  methods: {
    pressed() {
      firebase.auth().signInWithEmailAndPassword(this.email, this.password).then(data => {
        console.log(data)
        this.$router.push('/admin')
      }).catch(error => this.error = error)
    }
  }
}
</script>
<style lang="scss" scoped>
.form-group {
  margin-top: 10vh;
  min-height: 81vh;
}
</style>
