<template>
  <div>
    <Nav />
    <Blog />
<!--    <Footer />-->
  </div>
</template>
<script>
import Blog from '@/components/Common/Blog'
import Nav from '@/components/Common/Nav'
import Footer from '@/components/Common/Footer'

export default {
  components: { Footer, Nav, Blog }
}
</script>
<style scoped>

</style>

