<template>
  <section class="landing flex">

    <div class="text-area flex column justify-center">
      <div class="title"><p>Hello! I'm Abiral Sangroula</p></div>
      <div class="description">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
        consequat duis enim velit mollit. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
        Velit officia consequat duis enim velit mollit. Exercitation v.
      </div>
    </div>
    <div class="landing-bg-el flex flex-centered">
      <div class="image-area flex flex-centered">
        <img src="../../assets/img/landing-photo.png" alt="">
      </div>
    </div>

  </section>
</template>
<script>
export default {
  name: 'AboutMe'
}
</script>
