<template>
  <section class="admin flex">
    <div class="sidenav bg-primary">
      <div class="side-items pa-xl">
        <div :class="`side-item space-top flex items-center ${tabIndex>=1 ? 'active' : ''}`" @click="tabIndex=1"><i
          class="material-icons space-right">dashboard</i>Landing Content
        </div>
        <div :class="`side-item space-top flex items-center ${tabIndex>=2 ? 'active' : ''}`" @click="tabIndex=2"><i
          class="material-icons space-right">amp_stories</i>All Blogs
        </div>
        <div :class="`side-item space-top flex items-center ${tabIndex>=3 ? 'active' : ''}`" @click="tabIndex=3"><i
          class="material-icons space-right">library_add</i>Add New
          Blog
        </div>
        <div :class="`side-item space-top flex items-center ${tabIndex>=4 ? 'active' : ''}`" @click="tabIndex=4"><i
          class="material-icons space-right">category</i>Categories
        </div>
        <div :class="`side-item space-top flex items-center ${tabIndex>=5 ? 'active' : ''}`" @click="tabIndex=5"><i
          class="material-icons space-right">library_add</i>Add New Category
        </div>
        <div class="side-item space-top flex items-center" @click="logout" v-if="loggedIn">
          <i class="material-icons space-right">login</i>
          Logout
        </div>
      </div>
    </div>
    <main class="px-xl full-width">

      <div v-if="tabIndex===1">
        <h2>Dashboard</h2>
        <div class="editable">
          <h3>Welcome Page Contents</h3>

          <div class="flex fields">
            <div class="section">
              <h2>Welcome</h2>
              <div class="row">
                <div class="name flex-centered space-right">Name</div>
                <div class="content"><textarea v-model="name"></textarea></div>
              </div>
              <div class="row">
                <div class="name flex-centered space-right">Landing Image</div>
                <div class="content">
                  <input
                    type="file"
                    @change.prevent="changeLandingPhoto($event.target.files)"
                  >
                </div>
              </div>
              <div class="row space-top">
                <div class="name flex-centered space-right">Sub-title</div>
                <div class="content"><textarea v-model="position"></textarea></div>
              </div>
              <div class="row space-top">
                <div class="name flex-centered space-right">Description</div>
                <div class="content"><textarea v-model="description"></textarea></div>
              </div>
            </div>


            <div class="section">
              <h2>About</h2>
              <div class="row">
                <div class="name flex-centered space-right">About Me Title</div>
                <div class="content"><textarea v-model="aboutTitle"></textarea></div>
              </div>
              <div class="row space-top">
                <div class="name flex-centered space-right">About Me Description</div>
                <div class="content"><textarea v-model="aboutDescription"></textarea>
                </div>
              </div>
              <div class="row space-top">
                <div class="name flex-centered space-right">Skills Title</div>
                <div class="content"><textarea v-model="skillsTitle"></textarea></div>
              </div>
              <div class="row space-top">
                <div class="name flex-centered space-right">Skills Description</div>
                <div class="content"><textarea v-model="skillsDescription"></textarea></div>
              </div>
            </div>
          </div>


          <div class="flex fields space-top space-bottom">

            <div class="section">
              <h2>Affiliations</h2>
              <div class="row">
                <div class="name flex-centered space-right">Job Title</div>
                <div class="content"><textarea v-model="affTitle"></textarea></div>
              </div>

              <div class="row space-top">
                <div class="name flex-centered space-right">Description</div>
                <div class="content"><textarea v-model="affDescription"></textarea>
                </div>
              </div>
            </div>


            <div class="section">
              <h2>Projects</h2>
              <div class="row space-top">
                <div class="name flex-centered space-right">Title</div>
                <div class="content"><textarea v-model="prjTitle"></textarea></div>
              </div>
              <div class="row space-top">
                <div class="name flex-centered space-right">Description</div>
                <div class="content"><textarea v-model="prjDescription"></textarea>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="action-row space-bottom flex justify-end py-lg">
          <button class="btn outlined primary space-right">Clear All</button>
          <button class="btn primary" @click="updateData">Save</button>
        </div>
      </div>


      <div v-if="tabIndex===2">
        <h2>All Blogs</h2>
        <table class="full-width">
          <tr>
            <th>S.N.</th>
            <th>Blog Title</th>
            <th>Actions</th>
          </tr>
          <tr v-for="(blog,id,index) in blogs" :key="blog.id">
            <td>{{ index + 1 }}</td>
            <td>{{ blog.title }}</td>
            <td>
              <!--              <i class="material-icons space-right" @click="editBlog(index)">edit</i>-->
              <i class="material-icons space-right" @click="deleteBlog(id)">delete</i>
            </td>
          </tr>
        </table>
      </div>


      <div v-if="tabIndex===3" class="tab-content max-width">
        <h2>Add New Blog</h2>
        <div class="form-group flex column">
          <input type="text" placeholder="Post Title" v-model="blogTitle" required />
          <div class="flex items-center">
            Blog Image:
            <input
              type="file"
            >
          </div>
          <div class="flex space-top">

            Choose category : &nbsp;
            <select v-model="blogCat">
              <option value="" selected disabled>Choose Category</option>
              <option v-for="(cat,id,index) in category" :key="cat.id">
                {{ cat.title }}
              </option>
            </select>
          </div>

          <textarea class="space-top" v-model="blogContent" required>

          </textarea>
          <client-only placeholder="loading...">
            <ckeditor-nuxt v-model="contentHolder" :config="editorConfig"  />
          </client-only>

          <!--          <div id="app">-->
          <!--            <ckeditor :editor="editor" v-model="editorData"></ckeditor>-->
          <!--          </div>-->
          <button @click="addBlog" class="btn bg-primary text-light space-top flex items-center justify-center"><i
            class="material-icons">post_add</i>Publish
          </button>
        </div>
      </div>


      <div v-if="tabIndex===5" class="tab-content max-width">
        <h2>Add New Category</h2>
        <div class="form-group flex column">
          <input type="text" placeholder="Add a category" v-model="blogCategory" required />
          <button @click="addCategory" class="btn bg-primary text-light space-top flex items-center justify-center"><i
            class="material-icons">post_add</i>Add Category
          </button>
        </div>
      </div>

      <div v-if="tabIndex===4" class="tab-content">
        <h2>Categories</h2>
        <table class="full-width">
          <tr>
            <th>S.N.</th>
            <th>Category title</th>
            <th>Actions</th>
          </tr>
          <tr v-for="(cat,id,index) in category" :key="cat.id">
            <td>{{ index + 1 }}</td>
            <td>{{ cat.title }}</td>
            <td>
              <!--              <i class="material-icons space-right">edit</i>-->
              <i class="material-icons space-right" @click="deleteCategory(id)">delete</i>
            </td>
          </tr>
        </table>
      </div>


    </main>
  </section>
</template>
<script>
import firebase from '../../plugins/firebase'
import 'firebase/auth'
import ClassicEditor from '@ckeditor/ckeditor5-build-classic'

export default {
  components: {
    'ckeditor-nuxt': () => import('@blowstack/ckeditor-nuxt')
  },
  // name: 'Admin',
  mounted() {
    let userId = firebase.auth().currentUser?.uid
    if (!userId) {
      this.$router.push('/login')
    }
    this.getData()
  },
  data() {
    return {
      editorConfig: {
        simpleUpload: {
          uploadUrl: 'path_to_image_controller',
          headers: {
            'Authorization': 'optional_token'
          }
        }
      },
      contentHolder: '',
  tabIndex: 1,
  loggedIn: true,
  // editor: ClassicEditor,
  // editorData: '<p>Content of the editor.</p>'
  welcome: {},
  aboutMe: {},
  skills: {},
  affiliation: {},
  projects: {},

  name: '',
  position: '',
  description: '',
  aboutTitle: '',
  aboutDescription: '',
  skillsTitle: '',
  skillsDescription: '',
  affTitle: '',
  affDescription: '',
  prjTitle: '',
  prjDescription: '',

  blogTitle: '',
  blogContent: '',

  blogCategory: '',
  blogCat: '',

  blogs: [],
  category: [],

  isUploadingImage: false,
  imageURL: ''
}
},
methods: {
  changeLandingPhoto(files)
  {
    const file = files[0]
    this.isUploadingImage = true
    const metadata = {
      contentType: file.type
    }
    const storage = firebase.storage().ref('landingImage')
    storage.delete().then(() => {
    })
    const uploadTask = storage.put(file, metadata).then((snapshot) => {
      return snapshot.ref.getDownloadURL().then((url) => {
        return url
      })
    }).catch((error) => {
      console.error('Error uploading image', error)
    })
    uploadTask.then((url) => {
      this.imageURL = url
      this.isUploadingImage = false
      console.log(this.property.imageURL)
    })
  }
,
  editBlog(index)
  {
    alert(index)
  }
,
  deleteBlog(id)
  {
    firebase.database().ref('/blogs/' + id).remove()
  }
,
  deleteCategory(id)
  {
    firebase.database().ref('/category/' + id).remove()
  }
,
  getData()
  {
    const home = firebase.database().ref('/home')
    home.on('value', (snap) => {
      const welcome = (snap.val()) || 'Anonymous'

      this.name = welcome.welcome.title,
        this.position = welcome.welcome.subtitle,
        this.description = welcome.welcome.description,
        this.imageURL = welcome.welcome.imageURL,
        this.aboutTitle = welcome.aboutMe.title,
        this.aboutDescription = welcome.aboutMe.description,
        this.skillsTitle = welcome.skills.title,
        this.skillsDescription = welcome.skills.description,
        this.affTitle = welcome.affiliation.subtitle,
        this.affDescription = welcome.affiliation.description,
        this.prjTitle = welcome.projects.title,
        this.prjDescription = welcome.projects.description,


        this.welcome = welcome.welcome
      this.aboutMe = welcome.aboutMe
      this.skills = welcome.skills
      this.affiliation = welcome.affiliation
      this.projects = welcome.projects
    })
    const blogs = firebase.database().ref('/blogs')
    blogs.on('value', (snap) => {
      const blogs = (snap.val()) || 'Anonymous'
      this.blogs = blogs
    })
    const category = firebase.database().ref('/category')
    category.on('value', (snap) => {
      const category = (snap.val()) || 'Anonymous'
      this.category = category
    })
  }
,

  addBlog()
  {
    let result = new Date().valueOf()
    let res = 'blog' + result

    if (this.blogTitle !== '' && this.blogContent !== '' && this.blogCat !== '') {
      firebase.database().ref('/blogs/' + res).set({
        id: res,
        title: this.blogTitle,
        content: this.blogContent,
        category: this.blogCat
      })
    } else {
      alert('Please enter all fields.')
    }
  }
,
  addCategory()
  {
    let result = new Date().valueOf()
    let res = 'category' + result


    if (this.blogCategory !== '') {

      firebase.database().ref('/category/' + res).set({
        title: this.blogCategory
      })
    } else {
      alert('Please enter all fields.')
    }
  }
,
  updateData()
  {
    const home = firebase.database().ref('/home')

    home.update({
      welcome: {
        title: this.name,
        subtitle: this.position,
        description: this.description,
        imageURL: this.imageURL
      },
      aboutMe: {
        title: this.aboutTitle,
        description: this.aboutDescription
      },
      skills: {
        title: this.skillsTitle,
        description: this.skillsDescription
      },
      affiliation: {
        subtitle: this.affTitle,
        description: this.affDescription
      },
      projects: {
        title: this.prjTitle,
        description: this.prjDescription
      }
    })
  }
,

  logout()
  {
    firebase.auth().signOut().then(() => {
        this.$router.push('/')
      }
    )
  }
}
}

</script>
<style lang="scss">

.admin {
  height: 100vh;

  .sidenav {
    min-width: 18%;
    @media (max-width: 768px) {
      display: none;
    }

    .side-items {
      .side-item {
        color: white;
        font-size: 16px;
        cursor: pointer;
      }
    }
  }

  main {
    color: #353535;

    table {
      border-collapse: collapse;
      font-size: 16px;

      th {
        text-align: left;
        padding: 16px;
      }

      td {
        padding: 16px;
      }

      tr:nth-child(even) {
        background-color: #edf2f6;
      }
    }
  }
}

.max-width {
  width: max-content;
}

.editable {
  width: 100%;

  .fields {
    width: 100% !important;
    flex-direction: column;
  }
}

textarea {
  resize: none;
  border: 1px solid #ddd;
  padding: 10px 10px;
  height: 100%;
  width: 100%;
  font-family: Poppins;

  &:focus {
    outline: none;
  }
}

.section {
  border: 1px solid #ddd;
  padding: 10px 20px;
  margin-bottom: 20px !important;

  .row {
    padding: 8px 0;

    .name {

    }

    .content {
      height: auto;
      overflow: hidden;
      width: 100%;
    }
  }
}

@media (max-width: 768px) {

  .editable {
    .fields {
      flex-direction: column;
    }
  }
}
</style>

