<template>
  <div>
    <Nav />
    <section class="blogs flex flex-column">

      <div class="blogs-area">
        <BlogCard v-for="blog in blogs" :key="blog.id" v-bind:blog="blog"/>

      </div>
    </section>
    <paginate
      v-model="page"
      :page-count="20"
      :page-range="3"
      :margin-pages="2"
      :click-handler="clickCallback"
      :prev-text="'Prev'"
      :next-text="'Next'"
      :container-class="'pagination'"
      :page-class="'page-item'">
    </paginate>
  </div>
</template>

<script>
import firebase from '@/plugins/firebase'

export default {
  async created() {
    await this.loadData()
  },
  data() {
    return {
      page: 20,
      blogs: []
    }
  },
  methods: {
    async loadData() {
      const blogs = firebase.database().ref('/blogs')
      blogs.on('value', (snap) => {
        const blogs = (snap.val()) || 'Anonymous'
        this.blogs = blogs
      })
    },
    clickCallback(pageNum) {
      console.log(pageNum)
    }
  }
}
</script>

<style lang="scss">
.pattern {
  background: url('../../assets/img/bg-pattern.svg');
  animation: 290s scroll infinite linear;
  background-size: contain;
  filter: blur(0px);
}
a {
  &:focus {
    outline: none;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  width: auto;
  color: #9C2C2C;
  align-items: center;
  padding: 0;
}

.page-item {
  padding: 10px;
  margin: 5px;
  border: 1px solid #9C2C2C;
  border-radius: 8px;

  &:focus {
    outline: none;
  }

}
.blogs{
  min-height: 41vh;
}
.blogs-area {
  display: grid;
  column-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}


</style>

