<template>
  <div>
    <Nav />
    <div class="pattern">
    <section class="contact flex justify-center items-center">
        <div class="bg-el1"></div>
        <div class="bg-el2"></div>
        <div class="bg-el3"></div>
        <!--    <div class="contact-bg-el">-->
        <!--    </div>-->
        <div class="contact-me flex justify-center column">
          <div class="title flex justify-center space-bottom">Contact me on</div>
          <div class="social-icons flex justify-center space-bottom">
            <i class="material-icons large-font primary-color flex justify-center"><a
              href="https://www.facebook.com/blessed.abiral">facebook</a></i>
          </div>
          <div class="contact-details flex justify-center column">
            <div class="sub-title flex justify-center space-bottom"><a
              target="_blank"
              class="d-flex text-decoration-none"
              :href="
            `https://mail.google.com/mail/?view=cm&fs=1&to=abiralsangroula@gmail.com&su=Mail from Blog&body=(Enter your message)`
            "
            >
              <button class="btn primary my-lg">Send me an
                <email></email>
              </button>
            </a></div>
            <!--          <div class="form-group">-->
            <!--            <div class="row-1">-->
            <!--              <input type="text" placeholder="Name" v-model="name" class="space-right space-bottom">-->
            <!--              <input type="text" placeholder="Phone" v-model="phone" class="space-right space-bottom">-->
            <!--            </div>-->
            <!--            <div class="row-3 space-bottom">-->
            <!--              <textarea placeholder="Message" name="message" v-model="message"></textarea>-->
            <!--            </div>-->
            <!--            <div class="flex justify-center">-->
            <!--              <button class="btn primary">-->
            <!--                <a-->
            <!--                  target="_blank"-->
            <!--                  class="d-flex text-decoration-none"-->
            <!--                  :href="-->
            <!--            `https://mail.google.com/mail/?view=cm&fs=1&to=abiralsangroula@gmail.com&su=Mail from Blog&body=${this.message}%0${this.name}%0${this.phone}`-->
            <!--            "-->
            <!--                  >Send</a></button>-->
            <!--            </div>-->
            <!--          </div>-->
          </div>
        </div>
    </section>
    </div>

    <Footer />
  </div>
</template>
<script>
import Nav from '@/components/Common/Nav'
import Footer from '@/components/Common/Footer'

export default {
  name: 'ContactMe',
  components: { Footer, Nav },
  methods: {},
  data() {
    return {
      message: ''
    }
  }
}
</script>
<style lang="scss">
.pattern {
  background: url('../../assets/img/bg-pattern.svg');
  animation: 290s scroll infinite linear;
  background-size: contain;
  filter: blur(0px);
}

.title {
  font-size: 2.5rem;
}

.bg-el1 {
  height: 100px;
  width: 100px;
  background: #f48e4a;
  position: absolute;
  z-index: 0;
  border-radius: 50%;
  left: 350px;
  top: 220px;
  transform-origin: 60% center;
  animation: movearound1 19s linear infinite;
}

.bg-el2 {
  height: 80px;
  width: 80px;
  background: #F4694A;
  position: absolute;
  z-index: 0;
  border-radius: 50%;
  right: 350px;
  top: 320px;
  transform-origin: 80% center;
  animation: movearound2 17s linear infinite;
}

.bg-el3 {
  height: 50px;
  width: 50px;
  background: #fc876c;
  position: absolute;
  z-index: 0;
  border-radius: 50%;
  left: 550px;
  bottom: 200px;
  transform-origin: 80% center;
  animation: movearound1 15s linear infinite;
}

@keyframes movearound1 {

  100% {
    transform: rotate(-360deg);
  }
}

@keyframes movearound2 {

  100% {
    transform: rotate(360deg);
  }
}
</style>
