<template>
  <section class="cta">
    <div class="cta-card card bg-primary flex justify-between items-center">
      <div class="text-area">
        <div class="title light-text">Subscribe to my newsletter!</div>
        <div class="light-text">Get latest updates and news from the IT world. Subscribe to my newsletter to get daily mail.</div>
      </div>
      <div class="subscribe-area flex">
        <input type="text" placeholder="Email">
        <div class="btn outlined light space-left">Subscribe</div>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  name: 'Newsletter'
};
</script>
