<template>
  <div>
    <Nav />
    <div class="pattern">
      <section class="landing flex ">
        <div class="text-area flex column justify-center space-top">
          <div class="title oswald">{{ this.welcome.title }}</div>
          <div class="sub-title space-top">{{ this.welcome.subtitle }}</div>
          <div class="description space-top">{{ this.welcome.description }}
          </div>
          <!--        <i class="material-icons large-icon">arrow_circle_down</i>-->
        </div>

        <div class="landing-bg-el flex-centered">
          <div class="image-area flex-centered">
            <img :src="this.welcome.imageURL" loading="lazy">
          </div>
        </div>
      </section>

      <section class="about-me flex-centered column">
        <div class="title oswald flex-centered text-center">{{ this.aboutMe.title }} <span class="code">_</span></div>
        <div class="description flex-centered text-center half-width space-top">
          {{ this.aboutMe.description }}
        </div>
        <div class="skills flex-centered">
          <div class="image-area flex">
            <img src="../../assets/img/about-image.png" alt="">
          </div>
          <div class="text-area">
            <div class="topic flex justify-end items-end column">My Skills
              <div class="breaker"></div>
            </div>

            <div class="title oswald text-right">
              {{ this.skills.title }}
            </div>
            <div class="description text-right">
              {{ this.skills.description }}
            </div>

            <div class="chips-list flex items-center justify-end space-top">
              <div class="chip space-left">{{ this.chips.chip1 }}</div>
              <div class="chip space-left">{{ this.chips.chip2 }}</div>
              <div class="chip space-left">{{ this.chips.chip3 }}</div>
              <div class="chip space-left">{{ this.chips.chip4 }}</div>
              <div class="chip space-left">{{ this.chips.chip5 }}</div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <section class="timeline">
      <div class="text-area flex-centered column">
        <div class="topic text-light flex-centered column">My Affiliations
          <div class="breaker white-color"></div>
        </div>

        <div class="title text-light oswald space-top">{{ this.welcome.title }}</div>
        <div class="sub-title text-light space-bottom">{{ this.affiliation.subtitle }}</div>
        <div class="sub-title text-light text-center half-width">{{ this.affiliation.description }}
        </div>
      </div>

      <div class="timeline-area flex-centered">
        <img src="../../assets/img/timeline.png" alt="" class="timeline">
        <div class="time flex-centered column full-width">
          <div class="row flex">
            <div class="image-area flex justify-end">
              <img src="../../assets/img/timeline1.png" class="office" alt="">
            </div>
            <div class="space-200"></div>
            <div class="text-area text-light ml-xl">
              <div class="logo">
                <img src="../../assets/img/aff-logo2.png" class="company-logo" alt="">
              </div>
              <p>Backend Developer</p>
              <p class="flex"><i class="material-icons text-light flex-centered space-right">calendar_today</i>
                January 2019 - February 2020</p>
              <p class="space-top">Worked as a backend developer for a year. </p>
            </div>
          </div>
          <div class="row">
            <div class="text-area text-light text-right mr-xl">
              <div class="logo">
                <img src="../../assets/img/aff-logo.png" class="company-logo" alt="">
              </div>
              <p>Software Engineer</p>
              <p class="flex justify-end"><i
                class="material-icons text-light flex-centered space-right">calendar_today</i>
                February 2020 - January 2021</p>
              <p class="space-top">Worked as a backend developer for a year. </p>
            </div>
            <div class="space-200"></div>
            <div class="image-area flex">
              <img src="../../assets/img/timeline2.png" class="office" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="projects flex justify-between items-center">

      <div class="text-area">
        <div class="topic text-light">My Projects
          <div class="breaker"></div>
        </div>
        <div class="title text-light oswald">{{ this.projects.title }}<span class="code">_</span>
        </div>
        <div class="description text-light">
          {{ this.projects.description }}
        </div>
      </div>

      <div class="projects-area flex">
        <img src="../../assets/img/blog-img.png" class="space-right" alt="">
        <img src="../../assets/img/blog-img.png" alt="">
      </div>
    </section>

    <div class="pattern">
      <section class="words flex items-center">
        <div class="image-area flex">
          <img src="../../assets/img/sujen.jpg" alt="">
        </div>
        <div class="text-area">
          <div class="topic text-right">Words from the greats<span class="code">_</span></div>
          <div class="sub-title text-right">{{ this.recommendation.description }}
          </div>
          <div class="title text-right oswald">{{ this.recommendation.name }}</div>
          <div class="sub-title text-right">{{ this.recommendation.company }}</div>
          <div class="controls text-right">
            <i class="material-icons large-icon">keyboard_arrow_left</i>
            <i class="material-icons large-icon">keyboard_arrow_right</i>
          </div>
        </div>
      </section>


      <section class="my-blogs flex-centered column">
        <div class="text-area flex-centered column">
          <div class="topic flex-centered column">My Blogs
            <div class="breaker"></div>
          </div>
          <div class="title oswald full-width text-center">We can only grow when we start to share<span
            class="code">_</span></div>
          <div class="description half-width text-center">“Amet minim mollit non deserunt ullamco est sit aliqua dolor
            do
            amet sint.
            Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.”
          </div>
        </div>
        <div class="blogs">
          <BlogCard v-for="(blog, blogid, index) in blogs" :key="blogid" v-if="index<3" v-bind:blog="blog" />
        </div>
      </section>


      <section class="aspirations flex-centered column">
        <div class="text-area flex-centered column">
          <div class="topic flex-centered column">My Aspirations
            <div class="breaker"></div>
          </div>
          <div class="title oswald text-center">Well, I aspire to be<span class="code">_</span></div>
          <div class="sub-title text-center half-width">Amet minim mollit non deserunt ullamco est sit aliqua dolor do
            amet sint.
            Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
          </div>
        </div>
      </section>


      <section class="special-thanks flex justify-between">
        <div class="text-area flex column justify-center">
          <div class="title oswald" >Special Thanks<span class="code">_</span></div>
          <div class="sub-title space-top">Special thanks to Rosan Yonghang (Fullstack Developer) and Sumedh Bajracharya (Junior UI/UX Engineer) for designing and helping me build this portfolio website.
          </div>
        </div>

        <div class="image-area flex items-center justify-end">
<!--          <div class="special-thanks-bg-el flex justify-end">-->
            <div class="image-area flex-centered">
              <img src="../../assets/img/rosan.jpg" alt="">
              <img src="../../assets/img/sumedh.png" alt="">
            </div>
<!--          </div>-->
        </div>
      </section>

      <section class="newsletter flex justify-between">
        <div class="text-area">
          <div class="sub-title">Subscribe to my newsletter!</div>
          <div class="description">Get latest updates and news from the IT world. Subscribe to my newsletter to get
            daily
            mail!
          </div>
        </div>

        <div class="subscribe-area flex-centered">
          <input type="text" placeholder="Email">
          <div class="btn primary flex-centered space-left">Subscribe</div>
        </div>

      </section>
    </div>

    <Footer />
  </div>
</template>
<script>
import BlogCard from '@/components/Common/BlogCard'
import Footer from '@/components/Common/Footer'
import firebase from '../../plugins/firebase'

export default {
  name: 'Welcome',
  components: { Footer, BlogCard },
  async mounted() {
    await this.loadData()
  },
  data() {
    return {
      welcome: [],
      aboutMe: [],
      skills: [],
      chips: [],
      affiliation: [],
      specialThanks: [],
      recommendation: [],
      projects: [],

      blogs: {}
    }
  },
  methods: {
    loadData() {
      const home = firebase.database().ref('/home')
      home.on('value', (snap) => {
        const welcome = (snap.val()) || 'Anonymous'
        this.welcome = welcome.welcome
        this.aboutMe = welcome.aboutMe
        this.skills = welcome.skills
        this.chips = welcome.chips
        this.affiliation = welcome.affiliation
        this.recommendation = welcome.recommendation
        this.projects = welcome.projects
      })

      const blogs = firebase.database().ref('/blogs')
      blogs.on('value', (snap) => {
        const blogs = (snap.val()) || 'Anonymous'
        this.blogs = blogs
      })
    }
  }
}
</script>


<style>
.pattern {
  background: url('../../assets/img/bg-pattern.svg');
  animation: 290s scroll infinite linear;
  background-size: contain;
  filter: blur(0px);
}


@keyframes scroll {
  100% {
    background-position: 0px -3000px;
  }
}

</style>
